/* NAVBAR */
.nav {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.625rem;
    backdrop-filter: blur(16px);
    /* box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 16px 0px; */
    transition: 200ms;
    z-index: 1;

    /* mix-blend-mode: difference; */
}



.nav-items {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 1rem;
}

nav>ul>li {
    margin: 0;
}

nav>ul>li:hover {
    text-decoration: underline;
}

.nav-logo {
    width: 2.5rem;
}

.nav-link,
.nav-logo-name {
    text-decoration: none;
    color: var(--paragraph-primary-color);
    font-weight: var(--nav-font-weight);
    font-style: normal;
}

/* ICONS */
.icon-btn {
    text-decoration: none;
    /* background-color: #222; */
    color: #222;
    padding: 10px 12px;
    border-radius: 12px;
}

.icon-btn:hover {
    background-color: #eee;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 16px 0px;
    transition: 200ms;
}

.icon-frame {
    position: relative;
    top: 2px;
}

i,
.icon::before {
    width: 1.5em;
    height: 1.5em;
}